@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var HomePage = Model.Root();

    @*var HomePage = Umbraco.Content(1086);*@
var HeaderLogo = HomePage.Value<MediaWithCrops>("headerLogo");
    var selection = Model.Root().Children().Where(x => x.IsVisible());
}


<!-- ==================== Start Footer ==================== -->

<footer class="footer-half sub-bg section-padding pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cont">
                    <div class="logo">
                        <a href="@HomePage.Url()">
                            <img src="@HeaderLogo.MediaUrl()" alt="">
                        </a>
                    </div>
                    <div class="con-info custom-font">
                        <ul>
                            <li>
                                <span>Email : </span>
                                <a href="mailto:@HomePage.Value("footerMail")">
                                    @HomePage.Value("footerMail")
                                </a>
                            </li>
                            <li>
                                <span>Address : </span>
                                @HomePage.Value("footeraddress")
                            </li>
                            <li>
                                <span>Phone : </span>
                                <a href="tel:@HomePage.Value("footerPhone")">
                                    @HomePage.Value("footerPhone")
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="social-icon">
                        <h6 class="custom-font stit simple-btn">Follow Us</h6>
                        <div class="social">
                            <a target="_blank" href="@HomePage.Value("footerLinkFB")" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a target="_blank" href="@HomePage.Value("footerLinkIG")" class="icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a target="_blank" href="@HomePage.Value("footerLinkIN")" class="icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a target="_blank" href="@HomePage.Value("footerLinkTIKTOK")"  class="icon">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <div class="subscribe mb-50">
                    <h6 class="custom-font stit simple-btn">Menu</h6>
@*                     <p>Sign up for subscribe out newsletter!</p>
 *@                   @*  <form>
                        <div class="form-group custom-font">
                            <input type="email" name="subscribe" placeholder="Your Email">
                            <button class="cursor-pointer">Subscribe</button>
                        </div>
                    </form> *@
                    <ul class="list-unstyled list-col-3 mb-0">


                        @if (!HomePage.Value<bool>("umbracoNaviHide"))
                        {
                            <li class="nav-item active"><a class="nav-link" href="@HomePage.Url()">@(!(String.IsNullOrEmpty(HomePage.Value<String>("menuDisplayName"))) ? HomePage.Value("menuDisplayName") : HomePage.Name)</a></li>
                        }

                        @foreach (var item in selection)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="@item.Url()">@(!(String.IsNullOrEmpty(item.Value<String>("menuDisplayName"))) ? item.Value("menuDisplayName") : item.Name)</a>
                                @if (@item.Children.Where(x => x.IsVisible()).Any() && item.Name != "Blogs" && item.Name != "Our Works")
                                {
                                    <ul class="main-dropdown">
                                        @foreach (var Child in item.Children.Where(x => x.IsVisible()))
                                        {
                                            <li class="nav-item active"><a class="nav-link" href="@Child.Url()">@(!(String.IsNullOrEmpty(item.Value<String>("menuDisplayName"))) ? Child.Value("menuDisplayName") : Child.Name)</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }

                    </ul>

                </div>
              @*   <div class="insta">
                    <h6 class="custom-font stit simple-btn">Menu</h6>
                    <div class="insta-gallary">
                        <a href="#0">
                            <img src="img/insta/1.jpg" alt="">
                        </a>
                        <a href="#0">
                            <img src="img/insta/2.jpg" alt="">
                        </a>
                        <a href="#0">
                            <img src="img/insta/3.jpg" alt="">
                        </a>
                    </div>
                </div> *@
            </div>
        </div>
        <div class="copyrights text-center">
            <p>@HomePage.Value("footerCopyRights")</p>
        </div>
    </div>
</footer>

<!-- ==================== End Footer ==================== -->
