@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contacts>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
	var HomePage = Umbraco.Content(1086);

}


<!-- ==================== Start header ==================== -->

<header class="works-header fixed-slider hfixd valign">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-11 static">
                <div class="capt mt-50">
                    <div class="parlx">
                        <h2 class="custom-font"><span>@Model.Value("contactTitle")</span>@Model.Value("contactSubTitle")</h2>
                        <p>
                            @Model.Value("contactDesc")
                        </p>
                    </div>

                    <div class="bactxt custom-font valign">
                        <span class="full-width">@Model.Value("contactBackground")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ==================== End header ==================== -->
<!-- ==================== Start main-content ==================== -->

<div class="main-content">

    <!-- ==================== Start Contact ==================== -->

    <section class="contact section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form md-mb50">

                        <h4 class="extra-title mb-50">Get In Touch.</h4>



                        @* <form id="contact-form" method="post" action="https://ui-themez.smartinnovates.net/items/avo/avo-dark/contact.php">

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="form-group">
                                    <input id="form_name" type="text" name="name" placeholder="Name"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" placeholder="Email"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" placeholder="Phone Number"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" placeholder="Subject"
                                           required="required">
                                </div>
                                <div class="form-group">
                                    <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                              required="required"></textarea>
                                </div>

                                <button type="submit" class="btn-curve btn-lit"><span>Send Message</span></button>
                            </div>
                        </form>
 *@
                        @await Component.InvokeAsync("Contact")


                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="cont-info">
                        <h4 class="extra-title mb-50">Contact Info.</h4>
                        <h3 class="custom-font wow" data-splitting>
                            Let's Talk.
                        </h3>
                        <div class="item mb-40">
                            <h5><a href="mailto:@HomePage.Value("footerMail")">@HomePage.Value("footerMail")</a></h5>
                            <h5>
                                <a href="tel:@HomePage.Value("footerPhone")">
                                    @HomePage.Value("footerPhone")
                                </a>
                            </h5>
                        </div>
                        <h3 class="custom-font wow" data-splitting>
                            Visit Us.
                        </h3>
                        <div class="item">
                            <h6>
                                @HomePage.Value("footeraddress")
                            </h6>
                        </div>
                        <div class="social mt-50">
                            <a target="_blank" href="https://@HomePage.Value("footerLinkFB")" class="icon">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a target="_blank" href="https://@HomePage.Value("footerLinkIG")" class="icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a target="_blank" href="https://@HomePage.Value("footerLinkIN")" class="icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a target="_blank" href="https://@HomePage.Value("footerLinkTIKTOK")" class="icon">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Contact ==================== -->
    <!-- ==================== Start Map ==================== -->

   @*  <div class="map" id="ieatmaps"></div>
 *@
    <!-- ==================== End Map ==================== -->
    <!-- ==================== Start Footer ==================== -->

    @* <footer class="footer-half sub-bg">
        <div class="container">
            <div class="copyrights text-center mt-0">
                <p>© 2020, Avo Template. Made with passion by <a href="#0">UI-ThemeZ</a>.</p>
            </div>
        </div>
    </footer> *@

    <!-- ==================== End Footer ==================== -->


</div>

<!-- ==================== End main-content ==================== -->
